/*
 *
 * 差不多了！！！
 *
 */

pre:hover {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.4);
}

#skip-animation,
#pause-resume {
  display: none;
}

/*
 *
 * 差不多了！
 *
 * 哦对了，你也可以修改这里的CSS代码来改变页面效果的说～
 *
 */

.value {
  text-shadow: 0px 15px 1px rgb(218, 198, 198);
}

/*
 *
 * That's all,谢谢访问！
 *
 * It's your time~
 *
 */
